In [33]:
from pathlib import Path
from pprint import pprint
import pandas as pd
from tqdm import tqdm

In [3]:
file_dir = Path('local_data').resolve() / 'global-summary-of-the-day-archive'

In [38]:
df = pd.read_csv(file_dir / '1947' / '1947_full.csv')

In [39]:
len(df)

146457

In [40]:
df

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,...,MXSPD,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT
0,4200099999,1947-01-01,76.50,-69.00000,20.0,"DUNDAS, GL",-18.1,8,-28.6,8,...,15.0,999.9,-10.7,*,-21.6,*,0.00,I,999.9,0
1,4200099999,1947-01-02,76.50,-69.00000,20.0,"DUNDAS, GL",-19.1,8,-29.3,8,...,12.0,999.9,-15.5,*,-22.5,*,99.99,,999.9,1000
2,4200099999,1947-01-03,76.50,-69.00000,20.0,"DUNDAS, GL",-23.5,8,-35.3,8,...,9.9,999.9,-19.7,*,-27.6,*,0.00,I,999.9,0
3,4200099999,1947-01-04,76.50,-69.00000,20.0,"DUNDAS, GL",-12.6,8,-21.0,8,...,15.0,999.9,-4.5,*,-23.6,*,99.99,,999.9,1000
4,4200099999,1947-01-05,76.50,-69.00000,20.0,"DUNDAS, GL",-17.9,8,-27.3,8,...,12.0,999.9,-13.5,*,-20.6,*,0.00,I,999.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146452,99999941224,1947-12-28,14.50,120.91667,2.1,"SANGLEY POINT, RP",77.0,24,71.9,24,...,21.0,999.9,80.1,*,73.9,*,0.00,I,999.9,0
146453,99999941224,1947-12-29,14.50,120.91667,2.1,"SANGLEY POINT, RP",77.5,24,67.8,24,...,15.9,999.9,82.9,*,75.0,*,0.00,I,999.9,0
146454,99999941224,1947-12-30,14.50,120.91667,2.1,"SANGLEY POINT, RP",76.0,24,62.9,24,...,14.0,999.9,82.0,*,72.0,*,0.00,I,999.9,0
146455,99999941224,1947-12-31,14.50,120.91667,2.1,"SANGLEY POINT, RP",76.1,24,65.9,24,...,13.0,999.9,82.0,*,73.0,*,0.00,I,999.9,0
146456,99999941229,1947-06-21,14.55,120.98333,4.3,"MANILA, RP",77.0,24,9999.9,0,...,10.1,999.9,78.1,*,75.9,*,99.99,,999.9,10000

In [41]:
df['STATION'].unique()

array([ 4200099999,  4231099999,  4261099999,  4382099999,  4390099999,
       10136099999, 10633099999, 10755099999, 10763599999, 10856099999,
       10653099999,  7149099999, 10864099999, 10858099999, 10866099999,
       11010099999, 16158099999, 16298099999, 25399099999, 25595099999,
       28116099999, 28240099999, 29642099999, 31510099999, 31532099999,
       31594099999, 31735099999, 32583099999, 36974099999, 46751099999,
       46696099999, 47642099999, 45005099999, 47671099999, 47110099999,
       47850099999, 47931099999, 47643099999, 47808099999, 61902099999,
       70104399999, 48568099999, 70203126620, 70260599999, 56778099999,
       70116026618, 70261026411, 70272099999, 70277099999, 70292326440,
       70296026410, 70333099999, 70361025339, 70398025308, 71035199999,
       70485199999, 71043099999, 70454025704, 71063399999, 71090199999,
       71189699999, 71816099999, 71903199999, 71815099999, 71913099999,
       71907099999, 71803099999, 71915099999, 71916499999, 71918199999,
       71924099999, 71926099999, 71936099999, 71937199999, 71934099999,
       71935399999, 71953199999, 71966099999, 71968199999, 72205112841,
       72223513838, 72231012916, 72244899999, 72248513944, 72248613942,
       72251712932, 72254599999, 72257599999, 72253012921, 72253512909,
       72258013960, 72263099999, 72261022004, 72265623040, 72267023042,
       72269699999, 72258593901, 72278623104, 72297023129, 72306013722,
       72317013723, 72327399999, 72354013919, 72344613971, 72355599999,
       72356013968, 72355013945, 72360123007, 72266013962, 72367623048,
       72367723054, 72404013721, 72433813802, 72424013807, 72466093037,
       72455013947, 72466399999, 72407093730, 72481023203, 72483523206,
       72509014739, 72510114712, 72511514711, 72518014735, 72519014771,
       72519614717, 72530094846, 72531014806, 72581024193, 74206024207,
       74570013840, 74090099999, 74732099999, 72775524112, 74594013705,
       74790013849, 74788012810, 74791013717, 74775013846, 74901099999,
       74906699999, 74910999999, 74911899999, 74912099999, 74912199999,
       74912799999, 74913099999, 74913299999, 74914099999, 74916399999,
       74914299999, 74920599999, 74922299999, 74923099999, 74934799999,
       74917899999, 74935199999, 74944599999, 74934899999, 74950999999,
       78793099999, 74913699999, 78807899999, 74950199999, 78970099999,
       78948099999, 81001099999, 84001099999, 84390099999, 78807199999,
       85577099999, 91190322516, 91203099999, 91245041606, 91334040505,
       91275021603, 91408040309, 91490099999, 91520099999, 94203099999,
       94120099999, 94212099999, 94300099999, 94287599999, 94335099999,
       94510099999, 94610599999, 94637099999, 94374099999, 94767599999,
       94926099999, 94995099999, 94999900013, 94999900137, 99999911630,
       99999912850, 99999913710, 99999913752, 99999913753, 99999913725,
       99999913760, 99999913983, 99999910715, 99999913771, 99999914752,
       99999913994, 99999914762, 99999914780, 99999914786, 99999914788,
       99999914793, 99999993840, 99999914855, 99999914856, 99999914933,
       99999993837, 99999922515, 99999914948, 99999922519, 99999914947,
       99999923012, 99999923174, 99999993832, 99999923232, 99999923199,
       99999993115, 99999993107, 99999923239, 99999993111, 99999993104,
       99999993032, 99999942210, 99999924254, 99999926616, 99999943204,
       99999923272, 99999941411, 99999926617,  3135099999,  3658499999,
        4018016201,  4270099999,  4280199999,  4339099999,  7510099999,
        7647099999,  8509099999, 10384099999, 10439099999, 10637099999,
       10658099999, 10687599999, 10729099999, 10734099999, 10788099999,
       10869099999, 25913099999, 11030099999, 31444099999, 10738099999,
       31561099999, 31587099999, 31588099999, 32213099999, 40416099999,
       46743099999, 32509099999, 47425099999, 47635099999, 47660099999,
       47771099999, 47803099999, 32540099999, 48327099999, 48354099999,
       46763099999, 47981099999, 48456099999, 52533099999, 54511099999,
       57745099999, 59046099999, 59287099999, 60156099999, 62011199999,
       65660099999, 69117499999, 70026027502, 70086027401, 70162026508,
       70174026533, 70219026615, 70261599999, 70265099999, 70267026415,
       70271026425, 70291026412, 70316025624, 70343025402, 70350025501,
       70273526409, 70326025503, 70414099999, 70454599999, 70489099999,
       71043599999, 71045099999, 71705099999, 71707099999, 71801099999,
       71807099999, 71906099999, 71908199999, 71917099999, 71909099999,
       71935099999, 71938099999, 71946599999, 71946099999, 71953099999,
       71911199999, 71957699999, 71964099999, 71969199999, 71967599999,
       71965099999, 72208013880, 72217513860, 72221013858, 72226513821,
       72227013864, 72226613850, 72231553917, 72225013829, 72240513976,
       72240003937, 72235003940, 72242312923, 72243599999, 72252512920,
       72251012924, 72259513911, 72250012919, 72259613961, 72253612911,
       72268023009, 72270023044, 72265723041, 72286623122, 72269599999,
       72286023119, 72303013714, 72290693112, 72311913886, 72341813977,
       72344013964, 72351013966, 72352713975, 72353013967, 72353599999,
       72354613969, 72363023047, 72365023050, 72365623049, 72381023114,
       72405013743, 72406093721, 72428513812, 72429613841, 72458613922,
       72469023062, 72456513920, 72495623211, 72503814714, 72505699999,
       72520094823, 72528014733, 72456713921, 72552699999, 72555699999,
       72575524101, 72483623208, 72713014604, 72658014922, 72537714804,
       74394199999, 72785524114, 74490014702, 74491014703, 74516023202,
       74598013702, 74734099999, 74768613820, 74795012867, 74902699999,
       74903199999, 74903499999, 74903699999, 74904499999, 74907099999,
       74909999999, 74910599999, 74914199999, 74916499999, 74912699999,
       74916599999, 74940099999, 74931699999, 74949899999, 74951599999,
       74952099999, 74953899999, 74941499999, 78016013601, 78118012714,
       78367011706, 78397099999, 78439099999, 78457099999, 78486099999,
       78514099999, 78806099999, 78807999999, 78861099999, 84752099999,
       81225099999, 85442099999, 91170022508, 91180099999, 91182022521,
       91066022701, 91250099999, 91366040604, 94294599999, 91385099999,
       91558099999, 94326599999, 94326099999, 94403099999, 94476099999,
       94608099999, 94653099999, 94693099999, 94312099999, 94821099999,
       94865099999, 94907099999, 94646099999, 94910099999, 94968099999,
       94970099999, 94996099999, 94999900024, 94999900073, 94999900080,
       94999900175, 94999900222, 98223099999, 98326099999, 98327099999,
       95677099999, 95866099999, 99999911618, 98429099999, 99999912926,
       99999911621, 99999913017, 99999913750, 99999913739, 99999913751,
       99999913755, 99999913769, 99999913773, 99999913754, 99999914743,
       98618099999, 99999914830, 99999913874, 99999914834, 99999914849,
       99999994735, 99999994702, 99999914936, 99999993830, 99999993829,
       99999993841, 99999993116, 99999922602, 99999993909, 99999993101,
       99999922517, 99999993113, 99999993114, 99999993106, 99999923244,
       99999945709, 99999924155, 99999924244, 99999943205, 99999924255,
       99999925709, 99999942501, 99999923246, 99999941406, 99999941224,
       99999941229])

In [42]:
df['NAME'].unique()

array(['DUNDAS, GL', 'SONDRE STROMFJORD, GL', 'GROENNEDAL, GL',
       'IKERMIUARSUK, GL', 'PRINS CHRISTIAN, GL', 'NORDHOLZ, GM',
       'WIESBADEN ARMY AIR FIELD, GM',
       'ANSBACH AHP KATTERBACH GERMANY, GM', 'FURTH USA HP, GM',
       'LECHFELD, GM', 'GIEBELSTADT ARMY AIR FIELD, GM', 'ORLY, FR',
       'NEUBIBERG GER AFB, GM', 'FURSTENFELDBRUCK, GM', 'MUNCHEN, GM',
       'LINZ, AU', 'PISA, IT', nan, 'MYS UELEN, RS', 'CHAYBUKHA, RS',
       'KUDYMKAR, RS', 'NIZHNYJ TAGIL, RS', 'KEMEROVO, RS',
       'BLAGOVESCENSK, RS', 'CEKUNDA, RS', 'ARHARA, RS', 'NOVY, RS',
       'PETROPAVLOVSK KAMCHATSKIJ, RS', 'NARYN, KG', 'TAICHUNG, TW',
       'SUNGSHAN, TW', 'YOKOTA AB, JA', 'HONG KONG OBSERVATORY, CH',
       'TOKYO INTERNATIONAL, JA', 'GIMPO, KS', 'KANOYA, JA',
       'KADENA AB, JA', 'IRUMA, JA', 'FUKUOKA, JA',
       'ASCENSION AUX AF, SH', 'POINT HOPE AIRPORT, AK US',
       'SONGKHLA, TH', 'MOSES POINT, AK US', 'CLEAR, AK US',
       'WUJIABA, CH', 'WALES, AK US',
       'FAIRBANKS INTERNATIONAL AIRPORT, AK US',
       'ANCHORAGE ELMENDORF, AK US', 'SEWARD, AK US',
       'TANACROSS CAA AIRPORT, AK US', 'CORDOVA M K SMITH AIRPORT, AK US',
       'PORT HEIDEN, AK US', 'YAKUTAT AIRPORT, AK US',
       'ANNETTE WEATHER SERVICE OFFICE AIRPORT, AK US',
       'MONT TREMBLANT INTERNATIONAL INC, CA', 'UMNAK FORT GLEN, AK US',
       'NORMAN WELLS, CA', 'ADAK AIRPORT, AK US', 'FORT RESOLUTION, CA',
       'MINGAN, CA', 'GOOSE BAY, CA', 'RESOLUTION ISLAND, CA',
       'STEPHENVILLE A, CA', 'CHURCHILL A UA MAN, CA',
       'INUKJUAK A UA, CA', 'GANDER INTERNATIONAL, CA',
       'CORAL HARBOUR, CA', 'CHESTERFIELD INLET AND, CA',
       'ARCTIC BAY AND, CA', 'RESOLUTE BAY, CA', 'BAKER LAKE, CA',
       'YELLOWKNIFE, CA', 'FORT SMITH, CA', 'DAWSON CITY, CA',
       'ORLANDO EXECUTIVE AIRPORT, FL US',
       'MOBILE DOWNTOWN AIRPORT, AL US', 'NEW ORLEANS AIRPORT, LA US',
       'TYLER POUNDS REGIONAL, TX US', 'SHREVEPORT BARKSDALE AFB, LA US',
       'MONROE REGIONAL AIRPORT, LA US',
       'ALICE INTERNATIONAL AIRPORT, TX US', 'BERGSTROM AFB AUSTI, TX US',
       'KILLEEN MUNICIPAL AWOS, TX US',
       'SAN ANTONIO INTERNATIONAL AIRPORT, TX US',
       'SAN ANTONIO KELLY FIELD AFB, TX US', 'DALLAS FAA AIRPORT, TX US',
       'DEL RIO, TX US', 'WINK FAA AIRPORT, TX US',
       'LUBBOCK INTERNATIONAL AIRPORT, TX US', 'HOLLOMAN AFB, NM US',
       'DALLAS HENSLEY FIELD NAS, TX US',
       'PHOENIX WILLIAMS GATEWAY AIRPORT, AZ US',
       'LONG BEACH DAUGHERTY AIRPORT, CA US', 'RALEIGH AIRPORT, NC US',
       'GREENSBORO AIRPORT, NC US', 'SMYRNA, TN US',
       'OKLAHOMA CITY TINKER AFB, OK US',
       'HARRISON BOONE CO AIRPORT, AR US', 'ARDMORE MUNICIPAL, OK US',
       'TULSA INTERNATIONAL AIRPORT, OK US',
       'FORT SILL POST FIELD AF, OK US',
       'CHILDRESS MUNICIPAL AIRPORT, TX US',
       'ABILENE REGIONAL AIRPORT, TX US',
       'TUCUMCARI MUNICIPAL AIRPORT, NM US',
       'LAS VEGAS MUNICIPAL AIRPORT, NM US', 'PATUXENT RIVER NAS, MD US',
       'BELLEVILLE SCOTT AFB, IL US',
       'FORT KNOX GODMAN ARMY AIR FIELD, KY US',
       'COLORADO SPRINGS MUNICIPAL AIRPORT, CO US',
       'FORT RILEY MARSHALL ARMY AIR FIELD, KS US', 'PETERSON AFB, CO US',
       'ATLANTIC CITY INTERNATIONAL AIRPORT, NJ US', 'CASTLE AFB, CA US',
       'SACRAMENTO MATHER AFB, CA US', 'BOSTON, MA US',
       'READING REGIONAL AIRPORT, PA US',
       'MIDDLETOWN HARRISBURG INTERNATIONAL AIRPORT, PA US',
       'ALBANY INTERNATIONAL AIRPORT, NY US',
       'SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US',
       'GRIFFISS AIRPARK, NY US',
       'CHICAGO OHARE INTERNATIONAL AIRPORT, IL US',
       'RANTOUL CHANUTE AFB, IL US',
       'WENDOVER USAF AUXILIARY FIELD, UT US',
       'TACOMA MCCHORD AFB, WA US', 'DAYTON WRIGHT PATTERSON AFB, OH US',
       'CYLDE AIRPORT AND, CA', 'MALMSTROM AFB, MT US',
       'CAMP SPRINGS ANDREWS AFB, MD US', 'SUMTER SHAW AFB, SC US',
       'MACDILL AFB, FL US', 'MYRTLE BEACH AFB, SC US',
       'TYNDALL AFB, FL US', 'LAGUNA ARMY AIR FIELD, US',
       'LITTLE SOUND, BD', 'EATONTOWN, NJ US',
       'CAPE HARRISON NEWFOUNDLAND DO, CA', 'QUEBEC ISLE, CA',
       'INDIAN HOUSE LAKE, CA', 'IKATEQ, GL', 'VALKYRIERNE, GL',
       'SIMIUTAQ, GL', 'UNGUSIVIK, GL', 'RODEO, NM US',
       'PADLOPING ISLAND, CA', 'ATKA ALASKA, AK US',
       'WISEMAN ALASKA WEATHER BUREAU, AK US', 'TELLER AIRPORT, AK US',
       'HSIA KUAN SOUTHEAST, CH', 'MORRO BAY, CA US',
       'CHA YIN LU SOUTHWEST, CH', 'ESPIRITU SANTO, NH',
       'HANKOW CHINA, CH', 'HARMON AB, GQ',
       'ENRIQUE MALEK INTERNATIONAL, PM', 'SNOWMAN GREENLAND, GL',
       'RIO HATO, PM', 'SAN MARCOS EVANGELIS, IT', 'PIARCO, TD',
       'HEWANORRA INTERNATIONAL, ST', 'GEORGETOWN, GY', 'SEYMOUR, EC',
       'CAPITAN MONTES, PE', 'ALBROOK AFB BALBOA, PM',
       'QUINTA NORMAL, CI', 'KAHULUI AIRPORT, HI US',
       'FALALOP ISLAND CG ULITHI ATOLL, FM', 'WAKE ISLAND, UM WQ',
       'CHUUK WEATHER SERVICE OFFICE AIRPORT, FM FM',
       'JOHNSTON ISLAND, UM JQ', 'KOROR WEATHER SERVICE OFFICE, PW PS',
       'CHRISTMAS ISLAND, KR', 'HONIARA INTERNATIONAL, BP',
       'BROOME INTERNATIONAL, AS', 'DARWIN INTERNATIONAL, AS',
       'HALLS CREEK AIRPORT, AS', 'CARNARVON AIRPORT, AS',
       'CAIRNS AIRPORT, AS', 'CLONCURRY AIRPORT, AS', 'CHARLEVILLE, AS',
       'PERTH INTL BELMONT, AS', 'KALGOORLIE BOULDER, AS',
       'ROCKHAMPTON, AS', 'SYDNEY INTERNATIONAL AIRPORT, AS',
       'CANBERRA, AS', 'LORD HOWE ISLAND AERO, AS', 'ONSLOWAMO, AS',
       'ANGEL FIRE AIRPORT, NM US', 'ROOSEVELT ROADS, PR US',
       'KEY WEST NAS, FL US', 'WASHINGTON DC BOLLING FIELD AFB, MD US',
       'ANNAPOLIS NAF, MD US', 'ATLANTIC CITY NAS, NJ US',
       'BALTIMORE, MD US', 'DAHLGREN WEAPONS LAB, VA US',
       'COLUMBIA MUNICIPAL AIRPORT, MO US', 'COCO SOLO, PM',
       'PHILADELPHIA NAAS, PA US', 'HARTFORD BRAINARD FIELD, CT US',
       'ST LOUIS LAMBERT INTERNATIONAL AIRPORT, MO US',
       'PITTSBURGH ALLEGHENY CO AIRPORT, PA US', 'LAKEHURST NAS, NJ US',
       'NEW YORK FLOYD BENNE, NY US', 'QUONSET POINT NAS, RI US',
       'WILLOW GROVE NAS, PA US', 'ST SIMONS ISLAND NAS, GA US',
       'GLENVIEW NAS, IL US', 'GROSSE ILE NAS, MI US',
       'DES MOINES INTERNATIONAL AIRPORT, IA US',
       'JACKSONVILLE NAS, FL US', 'EWA MCAS, HI US', 'OTTUMWA NAS, IA US',
       'KANEOHE BAY MCAS, HI US', 'MINNEAPOLIS NAS, MN US',
       'DENVER LOWRY AFB, CO US',
       'LOS ANGELES INTERNATIONAL AIRPORT, CA US',
       'JACKSONVILLE CECIL FIELD NAS, FL US',
       'SACRAMENTO EXECUTIVE AIRPORT, CA US', 'EL CENTRO NAF, CA US',
       'IMPERIAL BEACH REAM FIELD NAS, CA US',
       'SAN DIEGO MIRAMAR NAS, CA US', 'ALAMEDA NAS, CA US',
       'POINT MUGU NF, CA US', 'CHINA LAKE NAF, CA US',
       'DENVER NAS, CO US', 'YONABARU RYUKYU ISLANDS, JA',
       'TILLAMOOK NAS, OR US',
       'KOTZEBUE RALPH WEIN MEMORIAL AIRPORT, AK US', 'HUNG CHIA, CH',
       'SAN FRANCISCO DOWNTOWN, CA US', 'GUAM OROTE, GU GQ',
       'NOME MUNICIPAL AIRPORT, AK US', 'PRESTWICK, UK', 'COLERNE, UK',
       'KEFLAVIK, IC', 'NARSARSUAQ, GL', 'NARSSAQ, GL',
       'SCORESBYSUND, GL', 'MERIGNAC, FR', 'LE TUBE, FR', 'LAJES, PO',
       'TEMPELHOF, GM', 'FRITZLAR, GM', 'FRANKFURT MAIN, GM',
       'BAD KISSINGEN, GM', 'ERLANGEN USA AF, GM', 'MANNHEIM CITY, GM',
       'HEIDELBERG ARMY AIR FIELD, GM', 'STRAUBING, GM', 'ERDING, GM',
       'SOKOL, RS', 'TULLN, AU', 'KUMARA, RS', 'STUTTGART, GM',
       'KOMSOMOLSK NA AMURE, RS', 'POJARKOVO, RS', 'ASTASHIKNA, RS',
       'MYS LOPATKA, RS', 'KING ABDULAZIZ AB, SA', 'TAINAN, TW',
       'SEMYACHIK, RS', 'NEW CHITOSE, JA', 'NAGOYA, JA',
       'TACHIKAWA JASDF, JA', 'OSAKA INTERNATIONAL, JA', 'ASHIYA, JA',
       'YELIZOVO, RS', 'CHIANG MAI INTERNATIONAL, TH', 'UDON THANI, TH',
       'HUALIEN, TW', 'IWOTO, JA', 'BANGKOK INTERNATIONAL, TH',
       'JIUQUAN SUZHOU, CH', 'BEIJING CAPITAL INTERNATIONAL AIRPORT, CH',
       'ZHIJIANG, CH', 'LIUZHOU, CH', 'BAIYUN INTERNATIONAL, CH',
       'MOHAMMED V, MO', 'WHEELUS FIELD, LY',
       'MONROVIA ROBERTS INTERNATIONAL, LI', 'ABERDEEN PVNG GRND, MD US',
       'BARROW WEATHER SERVICE OFFICE AIRPORT, AK US',
       'BARTER ISLAND WEATHER SERVICE OFFICE AIRPORT, AK US',
       'UMIAT, AK US', 'BETTLES AIRPORT, AK US', 'BETHEL AIRPORT, AK US',
       'WAINWRIGHT ARMY AIR FIELD, AK US', 'FAIRBANKS EIELSON A, AK US',
       'BIG DELTA AIRPORT, AK US', 'GULKANA AIRPORT, AK US',
       'NORTHWAY AIRPORT, AK US', 'COLD BAY AIRPORT, AK US',
       'MIDDLETON ISLAND, AK US', 'KODIAK AIRPORT, AK US',
       'ANCHORAGE MERRILL FIELD, AK US', 'KING SALMON AIRPORT, AK US',
       'EARECKSON AS, AK US', 'AMCHITKA ISLAND, AK US',
       'DUTCH HARBOR, AK US', 'FORT GOOD HOPE, CA', 'TESLIN AUT YT, CA',
       'GREATER MONCTON INTERNATIONAL, CA', 'SYDNEY A, CA',
       'ST JOHNS INTERNATIONAL, CA', 'ARGENTIA AUT, CA', 'KUUJJUAQ A, CA',
       'NOTTINGHAM ISLAND, CA', 'EUREKA, CA', 'IQALUIT, CA',
       'HAY RIVER A, CA', 'KUGLUKTUK, CA', 'WRIGLEY, CA',
       'FORT SIMPSON, CA', 'WATSON LAKE, CA', 'FORT NORMAN AIRPORT, CA',
       'WHITEHORSE INTERNATIONAL, CA', 'SNAG, CA',
       'BEAVER CREEK AIRPORT, CA', 'MAYO, CA',
       'CHARLESTON INTL. AIRPORT, SC US', 'WARNER ROBINS AFB, GA US',
       'VALPARAISO EGLIN AFB, FL US', 'MAXWELL AFB, AL US',
       'MARIETTA DOBBINS AFB, GA US', 'CRAIG AFB, AL US',
       'NEW ORLEANS LAKEFRONT AIRPORT, LA US',
       'FORT BENNING LAWSON FIELD, GA US',
       'LAFAYETTE REGIONAL AIRPORT, LA US',
       'LAKE CHARLES REGIONAL AIRPORT, LA US',
       'JACKSON INTERNATIONAL AIRPORT, MS US',
       'GALVESTON SCHOLES FIELD, TX US', 'WILLIAM P HOBBY, TX US',
       'LAREDO MUNICIPAL AIRPORT, TX US',
       'CORPUS CHRISTI INTERNATIONAL AIRPORT, TX US',
       'FORT WORTH NAS, TX US',
       'BROWNSVILLE S PADRE ISLAND INTERNATIONAL AIRPORT, TX US',
       'FORT WORTH MEACHAM FIELD, TX US', 'RANDOLPH AFB, TX US',
       'ROSWELL INDUSTRIAL AIR PARK, NM US',
       'EL PASO INTERNATIONAL AIRPORT, TX US', 'BIG SPRING, TX US',
       'SAN BERNARDINO INTERNATIONAL AIRPORT, CA US',
       'LAS CRUCES INTERNATIONAL, NM US', 'MARCH AFB, CA US',
       'FAYETTEVILLE POPE AFB, NC US', 'NORTH ISLAND NAS, CA US',
       'GREENVILLE DOWNTOWN AIRPORT, SC US',
       'TEXARKANA WEBB FIELD, AR US',
       'FORT SMITH REGIONAL AIRPORT, AR US',
       'WICHITA FALLS MUNICIPAL AIRPORT, TX US', 'GAGE AIRPORT, OK US',
       'OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US',
       'VANCE AFB, OK US', 'PONCA CITY MUNICIPAL AIRPORT, OK US',
       'AMARILLO AIRPORT, TX US',
       'ALBUQUERQUE INTERNATIONAL AIRPORT, NM US',
       'SANTA FE CO MUNICIPAL AIRPORT, NM US', 'EDWARDS AFB, CA US',
       'WASHINGTON REAGAN NATIONAL AIRPORT, VA US',
       'BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US',
       'COLUMBUS RICKENBACKER, OH US', 'WILMINGTON AIRBORNE PARK, OH US',
       'SALINA MUNICIPAL, KS US', 'DENVER STAPLETON, CO US',
       'TOPEKA FORBES FIELD, KS US', 'HAMILTON ARMY AIR FIELD, CA US',
       'STEWART FIELD, NY US', 'POINT JUDITH CGS, RI US',
       'PITTSBURGH ASOS, PA US', 'BUFFALO NIAGARA INTERNATIONAL, NY US',
       'FORT LEAVENWORTH SHERMAN AFB, KS US', 'KEARNEY MUNICIPAL, NE US',
       'AINSWORTH MUNICIPAL, NE US', 'OGDEN HILL AFB, UT US',
       'SACRAMENTO MCCLELLAN AFB, CA US',
       'PRESQUE ISLE MUNICIPAL AIRPORT, ME US',
       'MINNEAPOLIS ST PAUL INTERNATIONAL AIRPORT, MN US',
       'MOUNT CLEMENS SELFRIDGE FIELD, MI US', 'GRENIER AFB, NH US',
       'FAIRCHILD AFB, WA US', 'BEDFORD HANSCOM FIELD, MA US',
       'CHICOPEE FALLS WESTOVER FIELD, MA US', 'TRAVIS FIELD AFB, CA US',
       'LANGLEY AIR FORCE BASE, VA US',
       'WHITE SANDS MISSILE RANGE SITE NUMBER 39, US',
       'BILOXI KEESLER AFB, MS US', 'COCOA BEACH PATRICK AFB, FL US',
       'REY ISLAND, PM', 'SAN JOSE ISLAND, PM', 'POCRI AIRFIELD, PM',
       'PARRITA, CS', 'BOCA RATON FLORIDA ARMY AIR FIELD, FL US',
       'FREDERICK MD CAMP DETRICK, MD US',
       'INDEPENDENCE KANSAS ARMY AIR FIELD, KS US',
       'MITCHEL FIELD, NY US', 'MARRAK POINT, GL',
       'ELEPHANT BUTTE, NM US', 'KEFLAVIK MEEKS FIELD WBAS, IC',
       'COLUMBUS MUNICIPAL, NM US', 'BOCAIUVA SOUTHEAST, BR',
       'SAIPAN MARIANA IS KOBLER, RM', 'TANAPAG, CQ',
       'ROME ITALY CIAMPINO AB, IT', 'SOSSENHEIM, GM',
       'OBERPFAFFENHOFEN GERMANY AD, GM',
       'LOS NEGROS ADMRTY IS MOMOTE S, PP',
       'L F WADE INTERNATIONAL AIRPORT KINDLEY FIELD, BD',
       'TURKS ISLAND, TK', 'GUANTANAMO BAY NAS, CU',
       'NORMAN MANLEY INTERNATIONAL, JM',
       'TOUSSAINT LOUVERTURE INTERNATIONAL, HA',
       'GREGORIO LUPERON INTERNATIONAL, DR', 'SANTO DOMINGO, DR',
       'AQUADILLA BORINQUEN, RQ', 'HOWARD, PM', 'JAQUE, PM',
       'COOLIDGE FIELD ANTIGUA AUX.AFB, AC', 'RODRIGUEZ BALLON, PE',
       'JOHAN A PENGEL INTERNATIONAL, NS',
       'CERRO MORENO INTERNATIONAL, CI',
       'WHEELER ARMY AIR FIELD 810.1, HI US', 'HICKAM AFB OAHU, HI US',
       'HONOLULU INTERNATIONAL AIRPORT, HI US',
       'MIDWAY ISLAND HENDERSON FIELD AIRPORT, UM MQ',
       'ENEWETAK MARSHALL IS, RM', 'KWAJALEIN, MH RM',
       'TOWNSVILLE CIV MIL, AS', 'PALMYRA ISLAND, LQ',
       'PORT VILA BAUERFLD, NH', 'ALICE SPRINGS AIRPORT, AS',
       'ALICE SPRINGS, AS', 'GERALDTON, AS', 'OODNADATTA AIRPORT, AS',
       'PERTH METRO, AS', 'CEDUNA AMO, AS', 'MURRIN MURRIN, AS',
       'PORT HEDLAND INTERNATIONAL, AS', 'MOUNT GAMBIER AERO, AS',
       'LAVERTON RAAF, AS', 'EAST SALE, AS', 'FORREST AIRPORT, AS',
       'WAGGA WAGGA, AS', 'LAUNCESTON, AS', 'HOBART ELLERSLIE ROAD, AS',
       'NORFOLK ISLAND INTERNATIONAL, NF', 'MEEKATHARRA POST OFFICE, AS',
       'DALYWATERSAMO, AS', 'KATHERINEAERO, AS', 'RUSK CO AIRPORT, TX US',
       'CLINTON MEMORIAL AIRPORT, MO US', 'LAOAG INTERNATIONAL, RP',
       'BASA AB, RP', 'CLARK INTERNATIONAL, RP', 'ADELAIDE PARAFIELD, AS',
       'ESSENDON AIRPORT, AS', 'SAN JUAN NS, RQ',
       'NINOY AQUINO INTERNATIONAL, RP', 'CORPUS CHRISTI NAS, TX US',
       'TRINIDAD BWI, TD', 'KENITRA PORT LYAUTEY, MO',
       'NORFOLK NAS, VA US', 'PHILADELPHIA INTERNATIONAL AIRPORT, PA US',
       'ANACOSTIA NAS, MD US', 'CHINCOTEAGUE NAS, VA US',
       'OCEANA NAS, VA US', 'QUANTICO MCAS, VA US',
       'HAVELOCK CHERRY POINT MCAS, NC US', 'CANTON 4 SE, NY US',
       'PUERTO PRINCESA, RP', 'GRAND RAPIDS, MI US',
       'ATLANTA HARTSFIELD INTERNATIONAL AIRPORT, GA US', 'JOLIET, IL US',
       'TOLEDO WBAS, OH US', 'PORTSMOUTH, NH US',
       'IGOR I SIKORSKY MEMORI AIRPORT, CT US',
       'HURON REGIONAL AIRPORT, SD US', 'ATLANTA NAS, GA US',
       'PENSACOLA CHEVALIER FIELD NAS, FL US', 'WHITING FIELD NAS, FL US',
       'SAN NICOLAS ISLAND, CA US', 'FRNCH FRIGAT SHS NAS, HI US',
       'OLATHE JOHNSON CO INDUSTRIAL AIRPORT, KS US',
       'EL TORO MCAS, CA US', 'PEARL HARBOR NAS, HI US',
       'SAN PEDRO NAS, CA US', 'TUSTIN MCAF, CA US',
       'LOS ALAMITOS, CA US', 'MOFFETT FEDERAL AIRFIELD, CA US',
       'ATTU NS, AK US', 'PENDLETON E OR REGIONAL AIRPORT, OR US',
       'SEATTLE NAS, WA US', 'TSINGTAO, CH', 'WHIDBEY ISLAND NAS, WA US',
       'ASI TANAGA ISLAND NS, AK US', 'MARCUS ISLAND NF, JA',
       'SANTA ROSA NAAS, CA US', 'GUAM WEATHER FORECAST OFFICE, GU GQ',
       'SANGLEY POINT, RP', 'MANILA, RP'], dtype=object)

In [43]:
df['STATION'].value_counts()

4200099999     365
10869099999    365
94312099999    365
10637099999    365
10384099999    365
              ...
28240099999      1
94996099999      1
36974099999      1
94995099999      1
99999941229      1
Name: STATION, Length: 506, dtype: int64

In [44]:
stations = list(df['STATION'].unique())

In [60]:
year = '1947'
missing_spatial_df = pd.DataFrame()
valid_df = pd.DataFrame()

for station in tqdm(stations, desc='loop over stations'):
    station_df = df[df['STATION'] == station]
    if (
        not station_df["STATION"].eq(station_df["STATION"].iloc[0]).all()
        or not station_df["LATITUDE"].eq(station_df["LATITUDE"].iloc[0]).all()
        or not station_df["LONGITUDE"].eq(station_df["LONGITUDE"].iloc[0]).all()
        or not station_df["ELEVATION"].eq(station_df["ELEVATION"].iloc[0]).all()
    ):
        print('Missing spatial data', station)
        error_df = station_df
        missing_spatial_df = pd.concat([missing_spatial_df, error_df], ignore_index=True)
    else:
        valid_df = pd.concat([valid_df, station_df], ignore_index = True)

missing_spatial_df.to_csv(f"{year}_missing_spatial.csv", index=False)
valid_df.to_csv(f"{year}_full_valid.csv", index=False)
print(len(missing_spatial_df))
print(len(valid_df))
error_df

loop over stations:   8%|███▎                                       | 39/506 [00:00<00:02, 198.30it/s]

Missing spatial data 16298099999

loop over stations:  15%|██████▋                                    | 78/506 [00:00<00:02, 176.55it/s]

Missing spatial data 71090199999
Missing spatial data 71937199999
Missing spatial data 71935399999
Missing spatial data 71953199999
Missing spatial data 71968199999
Missing spatial data 72263099999

loop over stations:  65%|████████████████████████████▏              | 331/506 [00:02<00:01, 99.78it/s]

Missing spatial data 71911199999

loop over stations: 100%|██████████████████████████████████████████| 506/506 [00:04<00:00, 104.50it/s]

2017
144440

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,...,MXSPD,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT
89914,71911199999,1947-10-17,NaN,NaN,NaN,NaN,27.5,4,9999.9,0,...,26.0,999.9,28.0,*,27.0,*,0.02,G,999.9,0
89915,71911199999,1947-10-18,NaN,NaN,NaN,NaN,26.7,4,9999.9,0,...,35.0,999.9,27.0,*,26.1,*,0.00,G,999.9,0
89916,71911199999,1947-10-19,NaN,NaN,NaN,NaN,23.5,4,9999.9,0,...,6.0,999.9,26.1,*,21.9,*,0.00,I,999.9,0
89917,71911199999,1947-10-20,NaN,NaN,NaN,NaN,28.3,4,9999.9,0,...,8.0,999.9,30.0,*,27.0,*,0.00,I,999.9,0
89918,71911199999,1947-10-21,NaN,NaN,NaN,NaN,24.5,4,9999.9,0,...,7.0,999.9,26.1,*,21.9,*,0.00,I,999.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89984,71911199999,1947-12-27,NaN,NaN,NaN,NaN,-4.0,4,9999.9,0,...,9.9,999.9,-2.0,*,-7.1,*,0.01,G,999.9,0
89985,71911199999,1947-12-28,NaN,NaN,NaN,NaN,-11.5,4,9999.9,0,...,9.9,999.9,-9.0,*,-15.0,*,0.00,G,999.9,0
89986,71911199999,1947-12-29,NaN,NaN,NaN,NaN,-18.0,4,9999.9,0,...,2.9,999.9,-16.1,*,-23.1,*,0.00,I,999.9,0
89987,71911199999,1947-12-30,NaN,NaN,NaN,NaN,-14.7,4,9999.9,0,...,14.0,999.9,-8.0,*,-18.9,*,0.02,G,999.9,0
89988,71911199999,1947-12-31,NaN,NaN,NaN,NaN,-5.8,4,9999.9,0,...,13.0,999.9,-4.0,*,-8.0,*,0.00,G,999.9,0